.body-container {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: white;
    color: #333;
}

.cabecalho {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 40px;
    width: 89%;
}

.cabecalho a{
    text-decoration: inherit;
    color: black;
}

h3{
    font-weight: 500;
}

h2{
    font-weight: 700;
}


.pagina a{
    text-decoration: inherit;
    color: black;
    transition: background-color 0.3s;
    border: none;
}

.pagina a:hover{
    color: black;
}


.logo-siteinstitucional {
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 90vh;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 35px;
}

.menu {
    display: flex;
    justify-content: center;
    gap: 40px;
}

.pagina .botoes-topo{
    border-radius:20px ;
    background-image: linear-gradient(100deg,gold, #efb135);
}

.menu span {
    text-decoration: underline;
}

.menu .botoes-topo {
    color: white;
    padding: 15px 30px;
    border-radius: 20px;
    transition: background-color 0.3s;
}

.pagina {
    display: flex;
    justify-content: space-between;
    margin: 10px 40px;
    background-image: linear-gradient(to left,gold, #efb135, gold, #efb135);
    border-radius: 20px;
    margin-top: 50px;
}

.conteudo {
    padding: 40px;
    max-width: 600px;
    margin-left: 20px;
    background-color: white;
}

.conteudo h1 {
    font-size: 50px;
    margin-bottom: 20px;
    font-weight: 900;
}

.descricao {
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: 7;
}

.info p{
    text-align: justify;
}

.conteudo button {
    color: black;
    padding: 12px 24px;
    border: 2px solid black;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
}

.conteudo button:hover {
    background-color: black;
    color: white;
}

/* login e cadastro*/
.acessos {
    display: flex;
    gap: 20px;
    margin-left: 40px;
}

.caixa {
    background-color: black;
    color: white;
    padding: 30px;
    border-radius: 20px;
    text-align: center;
    width: 300px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.caixa button {
    margin-top: 15px;
    background-color: white;
    color: black;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

.caixa button:hover {
    background-color: #ddd;
}

/* (missão, visão, valores) */
.info {
    background-color: white;
    padding: 60px 40px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    flex-wrap: wrap;
    width: 94%;
}

.bloco {
    background-image: linear-gradient(to left,gold, #efb135);
    color: black;
    border-radius: 20px;
    padding: 30px;
    margin: 10px;
    width: 280px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.bloco h2 {
    margin: 10px 0;
    font-size: 20px;
}

.bloco p {
    font-size: 14px;
}


.icone {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: white;
    padding: 10px;
    margin-bottom: 15px;
    object-fit: contain;
}

.roda-pe-contato {
    background-color: black;
    color: white;
    padding: 30px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.container-conteudo{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.container-conteudo button{
    border-radius: 20px;
    height: 46px;
    width: 253.6px;
    color:black;
    border: solid black 2px;
    background-image: linear-gradient(100deg,gold, #efb135);
    padding: 12px 24px;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 60px;
   
}
.input-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80vh;
}

.input-box{
    border: solid 2px black;
    border-radius: 20px;
    height: 35px;
    color:black;
    padding-left: 15px;
    padding-right: 15px;

}

.box-column{
    display: flex;
    flex-direction: column;
}

.box-column label{
    padding-left: 10px;
    padding-bottom: 10px;
    font-weight: 500;
}

.box-yellow{
    height: 10px;
    width: 200px;
    background-color: #efb135;
    display: flex;
    align-self: flex-start;
    justify-self: flex-start;
    border-radius: 20px;
}
