/*Dashboard*/
.container-geral {
    display: flex;
    flex-direction: row;
  }
  
  .usuario{
    display: flex;
    flex-direction: column;
    color: black;
    align-items: center;
    text-align: center;
    height: 800px;
    width: 300px;
    background-image: linear-gradient(to bottom, #efb135, white);
    border-right: solid black 2px;
  }

  .container-dashboard{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    padding-top: 60px;
  }

   
  .pai{
    color: white;
    text-align: center;
    border-radius: 10px ;
    display: flex;
    justify-content: space-between;
    margin-left: 180px;
    padding: 15px;
  }
  
  .alerta{
    background-color: black;
    border-radius: 10px;
    width: 310px;
    height: 190px;
  }
  
  img{
    height: 120px;
    width: 120px;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    box-sizing: border-box;
    margin-left: 130px;
  }
  
  .container-kpi{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    height: 350px;
    width: 1200px;
    border-bottom: solid 2px black;
    padding-bottom: 80px;
  }
  .box-kpi{
    display: flex;
    justify-content: space-around;
    height: 180px;
    width: 180px;
    border: solid 4px #efb135;
    border-radius: 20px;
  }
  canvas {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    width: 900px;
    height: 300px;
  }
  
  .gra1, .gra2{
    width: 550px;
    height: 550px;
    margin-left: 80px;
  }

  *{
    margin: 0;
    padding: 0;
  }