/* Dashboard */
.container-geral {
  display: flex;
  flex-direction: row;
  
  }
  
body{
    background-color: #e9ecef;   
}

.usuario{
    display: flex;
    flex-direction: column;
    color: black;
    align-items: center;    
    justify-content: space-between;
    height: 703px;
    width: 30vh;
    background-image: linear-gradient(100deg,gold, #efb135);
    border-top-right-radius: 50px 50px;
    border-right: 2px solid black;
    
  }

  .container-dashboard{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-bottom: 15px;
    height: 200px;
    width: 750px;
  }
  


.container-column {
    width: 100%;
    height: 100vh;
}
.img-user{
    height: 90px;
    width: 90px;
    
  }
  
 .img-logo{
     display: flex;
     justify-self: end;
     height:120px;
     width: 120px;
 }
 
 .user-box{
     display: flex;
     flex-direction: column; 
     align-items: center; 
     margin: 10px;
 }
  
  .container-kpi{
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    height: auto;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
  }
  .box-kpi{
    font-size: large;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: 140px;
    width: 140px;
    border-radius: 20px;
    background-color: white;
    padding: 10px;
    background: linear-gradient(white, white) padding-box,
              linear-gradient(95deg, gold, #efb135) border-box;
  border-bottom: 6px solid transparent;
  border-top: 3px solid transparent;
  }
  

  .gra1, .gra2{
    background-color: white;
    width: 180vh;
    margin-top: 15px;
    border-radius: 20px;
    color: black;
    padding: 10px;
  }
  
  .opt-row{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 15px;
    border-bottom: solid 2px black;
    border-right: solid 2px black;
    border-radius: 8px;
    padding-right: 2px;
    width: 130px;    
    height: 50px;
   
  }
  
.opt-img{
    margin: 2px;
    margin-bottom: 4px;
    height: 15px;
    width: 15px;
}

.dash-row{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    height: auto;
    width: 100%;
  
   
}
.box-alert{
    display: flex;
    font-size: large;
    flex-direction: column;
    width: 300px;
    height: 150px;
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    background: linear-gradient(white, white) padding-box,
              linear-gradient(95deg, gold, #efb135) border-box;
  border-bottom: 6px solid transparent;
  border-top: 3px solid transparent;
}

.box-sensor{
    height: 350px;
    width: 280px;
    background-color: white;
    border-radius: 20px;
    margin-top: 2vh;
    margin-left: 50px;
    padding: 3vh;
    
}

.msg-alert{
    display: flex;
    flex-direction: row;
}

.msg-column{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-bottom: solid 1px black;
    border-right: solid 1px black;
    padding: 5px;
    border-radius:8px;
    font-size: 18px;
    height: 90px;
    width: 100px;
}

.msg-column-area{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.title{
   margin-left: 20px;
   margin-top: 20px;
}

.name{
    margin-bottom: 30px;
    margin-top: 15px;
}

.img-alert{
    height: 25px;
    width: 25px;
    margin-top: 10px;
    margin-left: 5px;
}

  *{
  font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
  }

  .opt-row-area{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: solid 2px black;
    border-right: solid 2px black;
    border-radius: 8px;
    padding-right: 2px;
    padding-left: 5px;
  }
  
 .area{
      width: 10px;
      height: 10px;
      border-radius: 100px;
      margin-right: 10px;
  }
 
 .kpi-title{
     font-size: 12px;
 }
 .color1{
     background-color: #efb135;
 }
 .color2{
     background-color: purple;
 }
 .color3{
     background-color: navy;
 }
  .color4{
      background-color: green;
  }
  
 .color5{
     background-color: red;
 }