.box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-form{
    flex-direction: column;
    background-color: rgb(0, 0, 0);
    height: 450px;
    width: 250px;
    color: white;
    border-radius: 10px;
    padding: 20px;
}

.form-titles{
    display: flex;
}

.input-box{
    width: 200px;
    border: solid 1px black;
    border-radius: 10px;
}

body{
    background-color:darkgrey;
}

*{
    margin: 0;
    padding: 0;
}